# Python Basic Assignment 1

1. Write First Program and share output

In [1]:
print("This is my First Program in Python")

This is my First Program in Python

2. Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a comma-separated sequence on a single line.

In [3]:
def find(min,max):
    for i in range(min,max+ 1):
        if (i%7==0) and (i%5!=0):
            print(i, end=' ')
find(2000, 3200)

2002 2009 2016 2023 2037 2044 2051 2058 2072 2079 2086 2093 2107 2114 2121 2128 2142 2149 2156 2163 2177 2184 2191 2198 2212 2219 2226 2233 2247 2254 2261 2268 2282 2289 2296 2303 2317 2324 2331 2338 2352 2359 2366 2373 2387 2394 2401 2408 2422 2429 2436 2443 2457 2464 2471 2478 2492 2499 2506 2513 2527 2534 2541 2548 2562 2569 2576 2583 2597 2604 2611 2618 2632 2639 2646 2653 2667 2674 2681 2688 2702 2709 2716 2723 2737 2744 2751 2758 2772 2779 2786 2793 2807 2814 2821 2828 2842 2849 2856 2863 2877 2884 2891 2898 2912 2919 2926 2933 2947 2954 2961 2968 2982 2989 2996 3003 3017 3024 3031 3038 3052 3059 3066 3073 3087 3094 3101 3108 3122 3129 3136 3143 3157 3164 3171 3178 3192 3199

3. Write a Python program to accept the user's first and last name and then getting them printed in the the reverse order with a space between first name and last name

In [4]:
def print_reverse(firstName, lastName):
    print(f"output: {lastName} {firstName}")

firstName = input("firstName: ")
lastName = input("lastName: ")
print_reverse(firstName, lastName)

firstName: Aaditya
lastName: Kumar
output: Kumar Aaditya

4. Write a Python program to find the volume of a sphere with diameter 12 cm. Formula: V=4/3 π r

In [5]:
import math
def vol_sphere(r=None):
    V = (4/3)*(math.pi)*(r**3)
    print(f'Volume of sphere = {round(V, 2)} cubic-cms')

diameter = 12
vol_sphere(r=diameter/2)

Volume of sphere = 904.78 cubic-cms

5. Write a program which accepts a sequence of comma-separated numbers from console and generate a list.

In [6]:
def list_generator(data):
    temp = data.split(',')
    lst = [int(i) for i in temp]
    print(lst)

data = input('enter data separated by commas: ')
list_generator(data)

enter data separated by commas: 2,3,4,5,6,7
[2, 3, 4, 5, 6, 7]

6. Create the below pattern using nested for loop in Python.

*  
* *  
* * * 
* * * *  
* * * * *  
* * * *  
* * *  
* *  
*

In [10]:
def draw_pyramid(N):
    for i in range(N):
        print("* "*i)
    for i in range(N,0,-1):
        print("* "*i)

draw_pyramid(5)

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

7. Write a Python program to reverse a word after accepting the input from the user.

In [12]:
def print_reverse(data):
    print(f"output: {data[::-1]}")

data = input("input a word: ")
print_reverse(data)

input a word: Aaditya
output: aytidaA

8. Write a Python Program to print the given string in the format specified in the ​sample output.

WE, THE PEOPLE OF INDIA, having solemnly resolved to constitute India into a SOVEREIGN, SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC and to secure to all its citizens

Sample Output:

WE, THE PEOPLE OF INDIA, having solemnly resolved to constitute India into a SOVEREIGN, ! SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC and to secure to all its citizens

In [11]:
def out(input_data):
    out_=input_data.replace('SOCIALIST', '!SOCIALIST')
    print(out_)

input_data = " WE, THE PEOPLE OF INDIA, having solemnly resolved to constitute India into a SOVEREIGN, SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC and to secure to all its citizens"
out(input_data)

 WE, THE PEOPLE OF INDIA, having solemnly resolved to constitute India into a SOVEREIGN, !SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC and to secure to all its citizens